#App {
  height: 100%;
  margin: 0;
  display: block;
  background: black;
}

#lower {
  position: absolute;
  bottom: 5%;
  left: 0;
  right: 0;
  height: 20%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: monospace, serif;
}

#upper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 80%;
}