#field {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    max-width: 85vw;
    max-height: 7vw;
    border: 1px solid white;
  }