#top {
    top: 5%;
    right: 7%;
    color: white;
    display: flex;
    align-items: center;
    font-family: monospace, serif;
    position: absolute;
    z-index: 1;
    white-space: pre-wrap;
}

#inp {
    width: 60px;
    background-color: black;
    color: white;
    font-family: monospace, serif;
    text-align: center;
    font-size: 16px;
    border: 1px solid white;
    text-transform: uppercase;
}

#id {
    margin-right: 30px;
    text-align: center;
    width: 6%;
    min-width: 60px;
    font-family: monospace, serif;
    border: 1px solid white;
}


#form {
    margin-right: 20px;
    width: 6%;
    min-width: 60px;
    border: none;
}

#center {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 80%;
  }

  .outer {
    position: relative;
    width: 30px;
    cursor: pointer;
  }

  .inner {
    width: inherit;
    text-align: center;
  }

  label {
    font-size: .8em;
    line-height: 30px;
    text-transform: uppercase;
    color: white;
    transition: all .3s ease-in;
    opacity: 0;
    cursor: pointer;
  }

  .inner:before, .inner:after {
    position: absolute;
    content: '';
    height: 1px;
    width: inherit;
    background: white;
    left: 0;
    transition: all .3s ease-in;
  }

  .inner:before {
    top: 50%;
    transform: rotate(45deg);
  }

  .inner:after {
    bottom: 50%;
    transform: rotate(-45deg);
  }

  .outer:hover label {
    opacity: 1;
  }

  .outer:hover .inner:before,
  .outer:hover .inner:after {
    transform: rotate(0);
  }

  .outer:hover .inner:before {
    top: 0;
  }

  .outer:hover .inner:after {
    bottom: 0;
  }